<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title><%= name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @-ms-viewport{
        width: device-width;
      }
      .colorbox {
        width: 1em;
        height: 1em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-width: 1px;
        border-color: beige;
        border-style: solid;
        display: inline-block;
        vertical-align: text-top;
      }
      .srm-min { background-color: #FFFFFF; }
      .srm-max { background-color: #000000; }
      .srm1 { background-color: #FFE699; }
      .srm2 { background-color: #FFD878; }
      .srm3 { background-color: #FFCA5A; }
      .srm4 { background-color: #FFBF42; }
      .srm5 { background-color: #FBB123; }
      .srm6 { background-color: #F8A600; }
      .srm7 { background-color: #F39C00; }
      .srm8 { background-color: #EA8F00; }
      .srm9 { background-color: #E58500; }
      .srm10 { background-color: #DE7C00; }
      .srm11 { background-color: #D77200; }
      .srm12 { background-color: #CF6900; }
      .srm13 { background-color: #CB6200; }
      .srm14 { background-color: #C35900; }
      .srm15 { background-color: #BB5100; }
      .srm16 { background-color: #B54C00; }
      .srm17 { background-color: #B04500; }
      .srm18 { background-color: #A63E00; }
      .srm19 { background-color: #A13700; }
      .srm20 { background-color: #9B3200; }
      .srm21 { background-color: #952D00; }
      .srm22 { background-color: #8E2900; }
      .srm23 { background-color: #882300; }
      .srm24 { background-color: #821E00; }
      .srm25 { background-color: #7B1A00; }
      .srm26 { background-color: #771900; }
      .srm27 { background-color: #701400; }
      .srm28 { background-color: #6A0E00; }
      .srm29 { background-color: #660D00; }
      .srm30 { background-color: #5E0B00; }
      .srm31 { background-color: #5A0A02; }
      .srm32 { background-color: #600903; }
      .srm33 { background-color: #520907; }
      .srm34 { background-color: #4C0505; }
      .srm35 { background-color: #470606; }
      .srm36 { background-color: #440607; }
      .srm37 { background-color: #3F0708; }
      .srm38 { background-color: #3B0607; }
      .srm39 { background-color: #3A070B; }
      .srm40 { background-color: #36080A; }

      body {
        font-family: "Montserrat",sans-serif;
        font-size: 12pt;
        line-height: 18pt;
        color: #4a4a4a;
        background-color: #fafafa;
      }
      section {
        float: left;
        width: 70%;
      }
      footer {
        clear: both;
      }
      .beer_recipe table {
        border-collapse: collapse;
        border: 1px solid #e0e0e0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px 0;
      }
      .beer_recipe thead:first-child tr:first-child th:first-child {
        border-top-left-radius: 3px;
        border-left: 0;
      }
      .beer_recipe thead:first-child tr:first-child th:last-child {
        border-top-right-radius: 3px;
      }
      .beer_recipe thead tr:first-child th,
      .beer_recipe thead tr:first-child td {
        border-top: 0;
      }
      .beer_recipe thead th {
        vertical-align: left;
        background-color: #cacaca;
      }
      .beer_recipe tbody tr {
        text-align: left;
        background-color: #eaeaea;
      }
      .beer_recipe tbody tr:nth-child(even) {
        background-color: #f5f5f5;
      }
      .beer_recipe td, .beer_recipe th {
        border-top: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        padding: 6px;
      }
      .beer_recipe tbody tr td:first-child {
        border-left: 0;
      }
      .beer_recipe tbody tr:last-child td:first-child {
        border-bottom-left-radius: 3px;
      }
      .beer_recipe tbody tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
      }
      .beer_recipe .format_number {
        text-align: right;
      }
      .beer_recipe .recipe_information {
        float: right;
        width: 25%;
        border: 1px solid #e0e0e0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #eaeaea;
        padding: 0 8px 0 8px;
        margin: 0 5px 15px 5px;
      }
      .beer_recipe .recipe_information h3 {
        margin-bottom: 0;
      }
      .beer_recipe .recipe_information p {
        margin-top: 1pt;
      }
      .beer_recipe td {
        white-space: nowrap
      }
      @media only screen and (max-width: 640px) {
        section {
          overflow-x: scroll;
        }
        .beer_recipe .recipe_information {
          float: left;
          width: 100%;
          max-width: 100%;
          margin: 0 0 15px 0;
        }
        .beer_recipe .recipe_information p,
        .beer_recipe .recipe_information h3 {
          display: inline;
        }
        .beer_recipe .recipe_information h3:after {
          content: ":"
        }
        .beer_recipe .recipe_information .recipe_notes p,
        .beer_recipe .recipe_information .recipe_notes h3 {
          display: block;
        }
        section {
          float: left;
          width: 100%;
          max-width: 100%;
        }
      }
      @media screen and (max-width: 320px) {
        .beer_recipe .recipe_information {
          width: 95%;
        }
      }
    </style>
  </head>
  <body>
    <article class="beer_recipe" itemscope itemtype="http://schema.org/Recipe">
      <meta itemprop="author" content="<%= brewer %>"/>
      <meta itemprop="recipeCategory" content="beverage"/>
      <meta itemprop="totalTime" content="<%= total_time_period %>"/>
      <meta itemprop="cookTime" content="<%= boil_time_period %>">

      <h1 itemprop="name"><%= name %></h1>

      <aside class="recipe_information">
      <h2><%= I18n.t(:information) %></h2>

        <div class="recipe_style">
          <h3><%= I18n.t(:style) %></h3>
          <p><%= style.name %> (<%= style_code %> / <%= style.style_guide %>)</p>
        </div>

        <div class="recipe_type">
          <h3><%= I18n.t(:type) %></h3>
          <p><%= style.type %></p>
        </div>

        <div class="recipe_grains">
          <h3><%= I18n.t(:grains) %></h3>
          <p><%= '%.2f' % total_grains %> <%= I18n.t(:kilograms) %></p>
        </div>

        <div class="recipe_hops">
          <h3><%= I18n.t(:hops) %></h3>
          <p><%= '%.0f' % total_hops %> <%= I18n.t(:grams) %></p>
        </div>

        <div class="recipe_equipment">
          <h3><%= I18n.t(:equipment) %></h3>
          <p><%= equipment.name %> (<%= equipment.tun_volume %> <%= I18n.t(:liter_abbr) %>)</p>
        </div>

        <div class="recipe_brewer">
          <h3><%= I18n.t(:brewer) %></h3>
          <p>
            <%= brewer %>
            <% unless asst_brewer.blank? %>
              (<%= I18n.t(:assisted_by, assistant: asst_brewer) %>)
            <% end %>
          </p>
        </div>

        <div class="recipe_notes">
          <h3><%= I18n.t(:notes) %></h3>
          <p itemprop="description"><%= notes %></p>
        </div>

      </aside>

      <section class="recipe_details">
      <h2><%= I18n.t(:recipe_details) %></h2>
        <table>
          <thead>
            <tr>
              <th><%= I18n.t(:batch_size) %></th>
              <th><%= I18n.t(:boil_time) %></th>
              <th><%= I18n.t(:ibu) %></th>
              <th><%= I18n.t(:og) %></th>
              <th><%= I18n.t(:fg) %></th>
              <th><%= I18n.t(:abv) %></th>
              <th><%= I18n.t(:calories_per_liter) %></th>
              <th><%= I18n.t(:color) %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="recipe_batch_size format_number" itemprop="recipeYield"><%= '%.1f' % batch_size %> <%= I18n.t(:liter_abbr) %></td>
              <td class="recipe_boil_time format_number"><%= '%.0f' % boil_time %> <%= I18n.t(:minutes) %></td>
              <td class="recipe_ibu format_number"><%= '%.0f' % ibu %></td>
              <td class="recipe_og format_number"><%= '%.3f' % og %> <%= I18n.t(:sg) %></td>
              <td class="recipe_fg format_number"><%= '%.3f' % fg %> <%= I18n.t(:sg) %></td>
              <td class="recipe_abv format_number"><%= '%.1f' % abv %><%= I18n.t(:percent_sign) %></td>
              <td class="recipe_calories format_number" itemprop="nutrition" itemscope
                itemtype="http://schema.org/NutritionInformation">
                <span itemprop="calories"><%= '%.0f' % calories %></span>
                <meta itemprop="servingSize" content="1 L">
              </td>
              <td class="recipe_color format_number">
                <%= '%.0f' % color_ebc %> <%= I18n.t(:ebc) %>
                <div class="colorbox" style="background-color: <%= color_hex %>">&nbsp;</div>
                <!-- <div class="colorbox <%= color_class %>">&nbsp;</div> --></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="recipe_fermentables">
      <h2><%= I18n.t(:fermentables) %></h2>
        <table>
          <thead>
            <tr>
              <th><%= I18n.t(:percent) %></th>
              <th><%= I18n.t(:fermentable_name) %></th>
              <th><%= I18n.t(:fermentable_amount) %></th>
              <th><%= I18n.t(:fermentable_type) %></th>
              <th><%= I18n.t(:fermentable_color) %></th>
            </tr>
          </thead>
          <tbody>
            <% fermentables.each do |f| %>
            <meta itemprop="recipeIngredient"
              content="<%= f.formatted_amount %> <%= f.name %>">
            <tr>
              <td class="fermentable_percent format_number"><%= '%.1f' % f.amount_percent %><%= I18n.t(:percent_sign) %></td>
              <td class="fermentable_name"><%= f.name %></td>
              <td class="fermentable_amount format_number"><%= f.formatted_amount %></td>
              <td class="fermentable_type"><%= f.type %></td>
              <td class="fermentable_color format_number">
                <%= '%.0f' % f.color_ebc %> <%= I18n.t(:ebc) %>
                <div class="colorbox" style="background-color: <%= f.color_hex %>">&nbsp;</div>
                <!-- <div class="colorbox <%= f.color_class %>">&nbsp;</div> --></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="recipe_hops">
      <h2><%= I18n.t(:hops) %></h2>
        <table>
          <thead>
            <tr>
              <th><%= I18n.t(:percent_sign) %></th>
              <th><%= I18n.t(:hops_name) %></th>
              <th><%= I18n.t(:hops_amount) %></th>
              <th><%= I18n.t(:hops_time) %></th>
              <th><%= I18n.t(:hops_use) %></th>
              <th><%= I18n.t(:hops_form) %></th>
              <th><%= I18n.t(:hops_alpha) %></th>
              <th><%= I18n.t(:hops_ibu) %></th>
            </tr>
          </thead>
          <tbody>
            <% hops.each do |hop| %>
            <meta itemprop="recipeIngredient"
              content="<%= hop.formatted_amount %> <%= hop.name %> (<%= hop.use %> <%= hop.formatted_time %>)">
            <tr>
              <td class="hops_percent format_number"><%= '%.1f' % hop.amount_percent %><%= I18n.t(:percent_sign) %></td>
              <td class="hops_name"><%= hop.name %></td>
              <td class="hops_amount format_number"><%= hop.formatted_amount %></td>
              <td class="hops_time format_number"><%= hop.formatted_time %></td>
              <td class="hops_use"><%= hop.use %></td>
              <td class="hops_form"><%= hop.form %></td>
              <td class="hops_alpha format_number"><%= hop.alpha %><%= I18n.t(:percent_sign) %></td>
              <td class="hops_ibu format_number"><%= '%.1f' % hop.ibu %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="yeasts">
        <h2><%= I18n.t(:yeasts) %></h2>
        <table>
          <thead>
            <tr>
              <th><%= I18n.t(:yeast_name) %></th>
              <th><%= I18n.t(:yeast_product_id) %></th>
              <th><%= I18n.t(:yeast_lab) %></th>
              <th><%= I18n.t(:yeast_form) %></th>
              <th><%= I18n.t(:yeast_attenuation) %></th>
              <th><%= I18n.t(:yeast_temperature) %></th>
            </tr>
          </thead>
          <tbody>
            <% yeasts.each do |yeast| %>
            <tr>
              <meta itemprop="name" content="<%= yeast.name %> (<%= yeast.product_id %>) <%= yeast.laboratory %>">
              <td class="yeast_name"><%= yeast.name %></td>
              <td class="yeast_product_id"><%= yeast.product_id %></td>
              <td class="yeast_laboratory"><%= yeast.laboratory %></td>
              <td class="yeast_form"><%= yeast.form %></td>
              <td class="yeast_attenuation format_number"><%= yeast.formatted_attenuation %></td>
              <td class="yeast_temperatures format_number"><%= yeast.formatted_temperatures %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="recipe_mash" itemprop="recipeInstructions"
        itemscope itemtype="https://schema.org/ItemList">
        <h2><%= I18n.t(:mash) %></h2>
        <table>
          <thead>
            <tr>
              <th><%= I18n.t(:mash_name) %></th>
              <th><%= I18n.t(:mash_type) %></th>
              <th><%= I18n.t(:mash_infuse_amount) %></th>
              <th><%= I18n.t(:mash_step_temp) %></th>
              <th><%= I18n.t(:mash_ramp_time) %></th>
              <th><%= I18n.t(:mash_step_time) %></th>
            </tr>
          </thead>
          <tbody>
            <% mash.steps.each do |step| %>
              <tr>
              <meta itemprop="name" content="<%= step.name %> (<%= step.type %>) <%= step.formatted_step_temp %> @ <%= step.formatted_step_time %>">
              <td class="mash_name"><%= step.name %></td>
              <td class="mash_type"><%= step.type %></td>
              <td class="mash_infuse_amount format_number"><%= step.formatted_infuse_amount %></td>
              <td class="mash_step_temp format_number"><%= step.formatted_step_temp %></td>
              <td class="mash_ramp_time format_number"><%= step.formatted_ramp_time %></td>
              <td class="mash_step_time format_number"><%= step.formatted_step_time %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

    </article>

    <footer>
      <p><small><%= I18n.t(:generated_by) %> <a href="http://github.com/ollej/beer_recipe">BeerRecipe</a> v<%= BeerRecipe::VERSION %></small></p>
    </footer>
  </body>
</html>
